%h1 Listing profiles

%table
  %tr
    %th Name
    %th Country
    %th Location
    %th Birthday

  - @profiles.each do |profile|
    %tr
      %td= link_to full_name(profile), profile_path(profile.user_id)
      %td= profile.country
      %td= profile.location
      %td= profile.birthday

%br
