%h1 Listing profiles

%table
  %tr
    %th First name
    %th Last name
    %th Location
    %th Country
    %th

  - @profiles.each do |profile|
    %tr
      %td= link_to full_name(profile), profile_path(profile.user_id)
      %td= profile.location
      %td= profile.country

%br
