body {
    background: none repeat scroll 0 0 #333333;
}

#content {
    background: url("/images/content_bg_lg.png") no-repeat scroll right top transparent;
    margin-top: 0;
    min-height: 1500px;
    overflow: visible;
    padding: 45px 0 0 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.field_with_errors label {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  padding: 7px;
  color:red;
  border: 0;
  background-color: white;
}

#error_explanation h2{
  color:red !important;
  font-weight: bold;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: none;
}

h2 {
  font-size:3em;
  padding: 1em;
  text-align:center;
}

#menu .logged_in_as {
  text-align: right
}

#menu {
  background-color: #84E907;
  color:white;
  font-weight:bold;
  height:2em;
  padding: 10px 0 0 10px;
  border: 3px sold #93680E;
  border-top: 2px solid #fff;
  border-bottom: 5px solid #fff;
}

#menu a {
  color: white;
  font-weight: bold;
  text-decoration:none;

}

#menu a:hover {
  background-color:inherit;
  text-decoration: underline;
}

#headline {
  background-color: #FFBF38;

}

#footer_content {
  background-color: #FFBF38;
  padding: 2em 0;
  text-align: center;
  font-style: italic;
}

#content h2 {
  color: #84E907;
  font-size:2em;
  text-align: left;
  margin: 0;
  padding: 5px 0px;
}

#content label {
  padding-top:5px;
}

#new_task {
  padding: 10px 0 0 20px;

}

#flash_content {
  color: black;
  background-color: #FFBF38;
}

.clear  {
  clear: both;
}

.clearfix {
  display:block;
}
