!!!
%html
  %head
    %title
      DevChix
    = stylesheet_link_tag 'reset', '960','text', 'application'
 
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js', 'application', 'pagination'
    = csrf_meta_tag 

  %body
    #header
      .container_16.clearfix
        #headline
        #menu
          .grid_10.alpha
            =link_to "Home", root_url
            - if user_signed_in?
              |
              =link_to "My Profile", profile_path(current_user[:id])
              |
              =link_to "Users", profiles_url
              |
              =link_to  'Logout', destroy_user_session_url
          .grid_5.omega.logged_in_as
            - if user_signed_in?
              Logged in as:&nbsp;
              =current_user.email
            - else 
              =link_to  'Login', user_session_path
              | 
              =link_to  'Sign Up', new_user_registration_path
    #flash
      #flash_content.container_16.clearfix
        .grid_16
          %span{:style => "color: green"}
            =flash[:notice]
          %span{:style => "color: red"}
            =flash[:alert] 
    #main
      #content.container_16.clearfix
        .grid_16
          =yield
    #footer
      #footer_content.container_16
        %p
          &copy;DevChix 2010

